@import 'components/mixins';
@import 'components/background';
@import 'components/header';
@import 'components/search_bar';
@import 'components/button_menu';
@import 'components/button_profile';
@import 'components/footer_bar';
@import 'components/result_list';
@import 'components/social_feed';
@import 'components/login_prompt';
@import 'components/notifications';
@import 'components/help_wrap';
@import 'components/compare_prompt';


body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    color:#444444;

    scroll-behavior: smooth;
}

.grid {
    margin: 0;
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;

    width: 100%;
    height: auto;

    align-items: center;

    

}

h2{
    font-size: 22px;
    margin: 5px 0  5px 0;
}

p{
    font-size: 12px;
}

a {
    text-decoration: none;
    
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    font-size: 14px;
}

i {
    vertical-align: middle;
}

button {
    color:#444444;
}

span {
    color:#444444;
}