.container {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%

}

.background-big {
    z-index: -1;
    position: absolute;
    width: 2449px;
    height: 1168px;
    left: -264px;
    top: -525px;
}

.background-small {
    z-index: 5;
    position: fixed;
    width: 101%;
    height: auto;
    left: -1px;
    top: -10px;

    @include for-phone-only {
        width: 101%;
        height: 120px;
        overflow-x: hidden;
    }
}

.cog-1 {
    z-index: -2;
    position: fixed;
    width: 500px;
    height: 500px;

    left: -250px;
    bottom: -250px;
}