.compare_prompt {
    width: 250px;
    height: auto;

    display: none;
    flex-direction: column;
    justify-content: center;

    background-color: white;
    border-radius: 10px;

    @include for-phone-only {
        width: 90%;
    }

    ul {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding: 10px;
        border-bottom: 1px solid $lightgrey;
    }
}