.footer_bar {
    position: fixed;
    bottom:0;
    width: 100%;
    height: 75px;
    border: 0;

    text-align: center;
    
    span {
        margin-top: 25px;
        margin-right: 20px;
    }

    button {
        margin-top: 25px;
        padding: 10px 25px 10px 25px;
        @include square_button;
    }

    @include for-phone-only {
        background-color: white;
        padding: 5px;
    }
}