.header_bar {
    display: inline-flex;
    position: fixed;
    justify-content: right;
    flex-basis: 100%;

    align-items: center;

    width: 100%;
    z-index: 20;

    .prompt_profile {
        display: flex;
        position: relative;
        
    }
    
    .button {
        @include round_button;
        margin: 10px;


    }

    .results_bar {
        text-align: center;
        flex-grow: 1;
        height: 30px;

        background-color: white;
        border-radius: 10px;

        margin: 0 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        @include for-phone-only {
            span {
                text-overflow: clip;
            }
        }
    }

    @include for-phone-only {
        .home {
            display: none;
        }

        .menu {
            display: none;
        }
    }
}
