.help_wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

    @include for-phone-only {
        width: 90%;

    }
    .control_wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        
        button {
            height: 100px;
            margin: 10px;

            background-color: $yellow;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            padding: 5px;

            @include for-phone-only {
                display: none;
            }
        }

        
    }

    .feed_wrap {
        width: 100%;
        height: auto;
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    
        overflow-x: auto;
        overflow-y: hidden;
        li {
            width: 300px;
            display: flex;
            flex-direction: column;
            margin: 10px;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
    
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

        span {
            flex-shrink: 1;
        }
        div {
            display: flex;
            align-items: center;
        }
        .like_button {
            width: 24px;
            height: 24px;
            margin: 10px;
        }

        @include for-phone-only {
            li {
                width: 80%;
            }
        }
    }
} 

.migration_wrap {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
