.login_prompt {
    width: 300px;
    height: auto;

    position: fixed;
    top: 175px;
    right: -400px;

    display: none;
    flex-direction: column;
    justify-content: center;

    background-color: white;
    border-radius: 10px;

    box-shadow: 4px 4px 10px $darkgrey;

    z-index: 25;

    @include for-phone-only {
        top: 210px;
        width: 95%;
        height: auto;
        justify-content: space-between;
        align-items: center;

        input {
            height: 25px;
            margin-bottom: 10px;
        }

    }

    div, form{
        margin: 10px;
        display: flex;
        width: 90%;
        height: auto;
    }

    span {
        text-align: center;
    }

    button {
        @include square_button;
        padding: 5px;
    }

    .navigation {
        align-items: center;
        span {
            flex-grow: 1;
        }

        button {
            @include round_button;
        }
    }

    form {
        flex-direction: column;

        input {
            margin-bottom: 5px;
        }
    }

    .register {
        justify-content: space-evenly;
        align-items: center;
    }
}