@mixin round_button {
    background-color: white;
    //box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: $yellow;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;

    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

        img {
            flex-shrink: 0;
            margin: 5px;
            width: 24px;
            height: 24px;
        }
}

@mixin square_button {
    background-color: $yellow;
    //box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    font-weight: 500;
}

@mixin square_button_secondary {
    background-color: white;
    //box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: $yellow;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    font-weight: 500;
}

@mixin dropdown {
    background-color: $yellow;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: $darkgrey;
    font-weight: 500;
}

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

.centered {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    margin-top: 140px;

    @include for-phone-only{
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
    }
}

.centered_column {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  margin-top: 110px;
  align-items: center;

  @include for-phone-only{
      margin-top: 80px;
  }
}

$yellow: #F9CB6B;
$darkgrey: #444444;
$lightgrey: #eaeaea;
$blue: #1b7dbc;