.notifications {
    position: absolute;
    top: 75px;
    left: 10px;

    width: auto;
    height: auto;

    display: flex;
    flex-direction: column-reverse;

    .note {
        max-width: 300px;
        width: auto;
        height: auto;
        border-radius: 10px;
        margin: 5px;
        text-align: center;
        vertical-align: middle;
        font-weight: 700;
        display: flex;
        align-items: center;
        z-index: 50;

        span{
            margin: 10px;
        }
    }

    .success {
        background-color: #6cd36ccc;
        color: #2a532a;
    }

    .warning {
        background-color: #dd911ecc;
        color: #61400e;
    }

    .error {
        background-color: #fa715ccc;
        color: #52251e;
    }
}