@import 'mixins';

.list_wrap {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;
    list-style: none;
    padding: 0;

    @include for-phone-only {
        margin-top: 25px;
        width: 80%;
    }

    li {
        display: flex;
        flex-wrap: wrap;

        margin: 10px 15px 10px 10px;
        
        border-bottom: 1px solid $lightgrey;
        padding-bottom: 10px;

        width: 450px;
        height: 250px;

        position: relative;

        span {
            width: 100%;
            text-align: center;
        }

        .text_wrap {
            margin: 10px;
            flex-grow: 1;
            flex-basis: auto;
            width: 230px;
            height: 120px;
            h2 {
                max-width: 70%;
            }
        }

        .price_wrap {
            width: 100%;
            font-weight: 500;
            text-align: center;
            color: $darkgrey;

            border-top: 1px solid #eaeaea;
            border-bottom: 1px solid #eaeaea;
            vertical-align: middle;
            margin: 10px 40px;
            padding-top: 3px;
        }
    
        .half_button {
            width: 50%;
            height: 30px;
            display: flex;
            justify-content: center;
            justify-self: flex-end;
            margin-bottom: 10px;
            button {
                width: 150px;
                @include square_button;
            }
        }

        .full_button {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: center;
            justify-self: flex-end;
            margin-bottom: 10px;
            button {
                width: 350px;
                padding: 5px 20px;
                @include square_button;

                background-color: $blue;
                color: white;
            }
        }
    
        .like_button {
            width: 30px;
            height: 30px;
            margin: 10px;
            position: absolute;
            top: 0;
            right: 0;
        }

        .select_button {
            width: 30px;
            height: 30px;
            margin: 10px;
            position: absolute;
            top: 0;
            right: 40px;
        }

        .img_wrap {
            width: 80px;
            height: 80px;
            margin: 10px;

            flex-shrink: 0;
    
            img {
                width: 100%;
                height: auto;
                aspect-ratio: 1;
                object-fit: fill;
            }
        }  
        
        @include for-phone-only{
            height: auto;
            width: 100%;

            .text_wrap {
                height: auto;
                h2 {
                    max-width: 70%;
                }
            }

        }
    }
}