@import 'mixins';

.logo {
    padding: 15px;
    width: 35%;

    img {
        width: 100%;
    }
}

@include for-phone-only {
    .logo {
        width: 80%;
        padding: 0px;
    }
}

.search_bar {
    margin-top: 70px;
    position: relative;
    height: 50px;

    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 20;

    form {
        flex-grow: 1;
        margin: 0 10px;
    }

    span {
        font-size: 18px;
        text-align: center;
        margin-top: 12px;
    }

    select{
        @include dropdown;
        font-size: 18px;
        margin: 5px;
        margin-top: 7px;
        padding-left: 5px;
        
    }

    .submit_button {
        background-color: unset;
        border: none;
        padding: 5px;
        flex-grow: 0;
        margin: 5px 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 5px;
        background-color: $blue;

    }

    @include for-phone-only {
        flex-direction: column;
        height: auto;
        width: 90%;
        margin-top: 10px;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            select {
                width: 90%;
                height: 40px;
            }
        }
        .submit_button {
            margin: 10px;
            padding: 7px;

            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}
