.social_wrap{
    min-width: 500px;
    height: 75vh;

    border-radius: 10px;
    display: flex;
    justify-content: center;

    .video_player {
        position: relative;
        width: 400px;
        height: 100%;
        border-radius: 10px; 

        iframe {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        .media {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
        }

        .next_media {
            z-index: -1;

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            background-color: black;
            border-radius: 10px;
        }



    }
    .controls{
        width: 50px;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        button {
            width: 25px;
            height: 25px;
            margin: 10px;
            @include round_button;
        }

        .bttn_software {
            img {
                transform: rotate(30deg);
            }
        }
    }

    .sidebar {
        height: 100%;

        display: none;
        flex-direction: column;
        align-items: center;

        flex-grow: 1;

        .close_section {
            display:none;
        }

        .wrap_comments {
            display: none;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 90%;
            margin: 10px;

            .title_wrap {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            h3 {
                align-self: flex-start;
            }

            .comment_list {
                flex-grow: 1;
                width: 100%;

                overflow-y: scroll;

                li:nth-child(1) {
                    border-top: 1px solid #eaeaea;
                }

                li {
                    padding: 5px 0;
                    border-bottom: 1px solid #eaeaea;
                }

                span {
                    font-weight: bold;
                }


            }
            .new_comment {
                width: 100%;
                display: flex;
                align-items: center;
                input {
                    flex-grow: 1;
                    height: 30px;
                }
                button {
                    background-color: #1b7dbc;
                    border: none;
                    border-radius: 7px;
                    margin: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 35px;
                    width: 35px;
                    img {
                        flex-shrink: 0;
                        margin: 2px;
                        width: 20px;
                        height: 20px;
                    }

                }
            }
        }

        .wrap_applications {
            display: none;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 90%;
            margin: 10px;

            .title_wrap {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

            }

            .app_list {
                flex-grow: 1;
                width: 100%;

                overflow-y: scroll;

                li:nth-child(1) {
                    border-top: 1px solid #eaeaea;
                }

                li {
                    padding: 5px 0;
                    border-bottom: 1px solid #eaeaea;
                    text-align: center;
                }

                span {
                    font-weight: bold;
                }
            }

            h3 {
                align-self: flex-start;
            }

            .app_button {
                width: 350px;
                padding: 5px 20px;
                @include square_button;

                background-color: $blue;
                color: white;
            }

        }
    }

    @include for-phone-only {
        .video_player {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;

            width: 100%;
            height: 100%;

            border-radius: 0px;
            background-color: black;

            .media {
                z-index: 15;
            }

            iframe {
                border-radius: 0px;
                overflow: hidden;
                position: relative;
                z-index: 14;
            }

            img {
                border-radius: 0px;
            }

            overflow: hidden;
        }

        .controls {
            position: fixed;
            z-index: 15;
            bottom: 15%;
            right: 0;
            justify-content: flex-end;

        }

        .sidebar {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;

            z-index: 20;

            background-color: white;
            transform-origin: left bottom;
            .close_section {
                display: inline;
                @include round_button;
            }
        }
    }
}

@include for-phone-only {
    .social_wrap {
        border-radius: 0px;
        min-width: unset;
        overflow: hidden;
    }
}

